<div class="container mt-5">
    <table class="table table-striped highlight" border="1">
        <thead class="thead-dark">
            <tr>
                <th class="centered">ID</th>
                <th class="centered">Tarea</th>
                <th class="centered">Estado</th>
            </tr>
        </thead>
        <tbody>
            <% todos.forEach(function(todo) { %>
                <tr>
                    <td class="centered"><%= todo.id %></td>
                    <td class="centered"><%= todo.title %></td>
                    <td class="centered"><%= todo.completed ? 'Completado' : 'Pendiente' %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>